node_modules/
dist/
build/
.cache/
.vite/
.DS_Store
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
.vscode/
coverage/
/.pnp
.pnp.js
/.parcel-cache
/.turbo
/.next
public/groups/**/index.html